<div
  class="panel-pixel pixel-borders pixel-borders--2 pixel-borders--inset pixel-borders--inset-all contact-card"
>
  <h2 class="contact-header__title">rva racket services</h2>
  <p class="contact-header__info">vinay soni</p>
  <p class="contact-header__info">817 798 3062</p>
</div>