<!-- Mobile Navigation Overlay -->
<div
  class="mobile-section mobile-navigation-bottom panel-pixel pixel-borders pixel-borders--2 pixel-borders--inset pixel-borders--inset-all"
>
  <div class="queue-indicator mobile">
    <p class="queue-label mobile">QUEUE</p>
    <img
      class="queue-image"
      src="/assets/images/queue/Pokemon Hospital-0.png"
      alt="Queue status"
      data-gif-src="/assets/images/queue/Pokemon Hospital.gif"
    />
    <p class="queue-text mobile">Loading...</p>
  </div>
  <button
    class="panel-pixel pixel-borders pixel-borders--2 pixel-borders--inset pixel-borders--inset-all pixel-border-theme--warning button-mobile profile-button-mobile"
    aria-label="View Profile"
  >
    <img src="/assets/images/navigation/profile.png" alt="Profile" />
  </button>
  <button
    class="panel-pixel pixel-borders pixel-borders--2 pixel-borders--inset pixel-borders--inset-all pixel-border-theme--success button-mobile inventory-button-mobile"
    aria-label="View inventory"
  >
    <img src="/assets/images/navigation/backpack-inventory.png" alt="Inventory" />
  </button>
</div>